use sedeformosa

SELECT * FROM LEGAJOS
WHERE LEG_CODIGO = 3423


--Florenciabrd40@gmail.com
--3423,10

SELECT * FROM RELACION_LABORAL
WHERE LEG_CODIGO = 3423 AND SEDE  = 10


SELECT * FROM VW_COMISIONES_DOCENTES
WHERE CDO_DOC_CODIGO = 3423 
AND CDO_COA_ANO = 2020

--9277
--9000
SELECT * FROM VW_ALUMNOS_COMISIONES
WHERE COM_CODIGO = 9277

SELECT * FROM HORARIOS_NOVEDADES
WHERE SED_CODIGO = 6
AND LEG_CODIGO = 3121 AND SED_LEGAJO = 6



SELECT * FROM VW_DESIGNACIONES
WHERE AÑO = 2020 AND DOCENTE LIKE '%RUIZ DIAZ MAÑAS%'


EXEC dbo.HORARIOS_CLASES_FECHA '28/08/2020',3423,10


SP_HELPTEXT HORARIOS_CLASES_FECHA
-- =============================================  
-- Author:  Christian A. Vila  
-- Create date: 19/08/2020  
-- Description: Horarios de Clases por Docente  
-- =============================================  
CREATE PROCEDURE dbo.HORARIOS_CLASES_FECHA  
 @FECHA  DATETIME,   
 @LEG_CODIGO INT,  
 @SED_LEGAJO INT  
AS  
BEGIN  
 SELECT *  
 FROM SEDECENTRAL.dbo.HORARIOS_DOCENTES_DIA (1, '28/08/2020', 3423, 10)  
 UNION  
 SELECT *  
 FROM SEDECENTRAL.dbo.HORARIOS_DOCENTES_DIA (10,'28/08/2020', 3423, 10)  
 UNION  
 SELECT *  
 FROM SEDEGOYA.dbo.HORARIOS_DOCENTES_DIA (2, @FECHA, @LEG_CODIGO, @SED_LEGAJO)  
 UNION  
 SELECT *  
 FROM SEDEPLIBRES.dbo.HORARIOS_DOCENTES_DIA (3, @FECHA, @LEG_CODIGO, @SED_LEGAJO)  
 UNION  
 SELECT *  
 FROM SEDEPOSADAS.dbo.HORARIOS_DOCENTES_DIA (4, @FECHA, @LEG_CODIGO, @SED_LEGAJO)  
 UNION  
 SELECT *  
 FROM SEDECURUZU.dbo.HORARIOS_DOCENTES_DIA (5, @FECHA, @LEG_CODIGO, @SED_LEGAJO)  
 UNION  
 SELECT *  
 FROM SEDEFORMOSA.dbo.HORARIOS_DOCENTES_DIA (6, @FECHA, @LEG_CODIGO, @SED_LEGAJO)  
 UNION  
 SELECT *  
 FROM SEDESPEÑA.dbo.HORARIOS_DOCENTES_DIA (11, @FECHA, @LEG_CODIGO, @SED_LEGAJO)  
END  


SP_HELPTEXT HORARIOS_DOCENTES_DIA

CREATE FUNCTION [dbo].[HORARIOS_DOCENTES_DIA]   
(@SEDE INT, @FECHA DATETIME, @LEG_CODIGO INT, @SED_LEGAJO INT)  
RETURNS TABLE   
AS  
RETURN   
(  
 SELECT SED_CODIGO, FAC_CODIGO, CAR_CODIGO, PES_CODIGO, MAT_CODIGO,  
 CONVERT(VARCHAR(10),FECHA,103) AS FECHA, CONVERT(VARCHAR(8),HORA_DESDE,108) AS HORA_DESDE, CONVERT(VARCHAR(8),HORA_HASTA,108) AS HORA_HASTA, TARJETA, COD_MESA, LLAMADO, PERIODICIDAD,  
 COD_TURNO, ID_HORARIO, ORIGEN, CARGO, NULL AS FECHA_1ER_EVENTO, CONTROL_HORARIO, ITEM, CONVERT(VARCHAR(10),FECHA_REEMPLAZO,103) AS FECHA_REEMPLAZO, OBSERVACIONES,  
 TARJETA_ANTERIOR, NOV_FALTAS, COD_NOVEDAD, PES_VIEJO, TIPO_NOVEDAD, HORAS_MENSUALES,  
 PES_DESCRIPCION, MAT_DESCRIPCION, COMISION, CARGO_DESCRIPCION  
 FROM VW_HORARIOS_NOVEDADES_CLASES  
 WHERE SED_CODIGO = 10 AND FECHA = '28/08/2020' AND LEG_CODIGO  = 3423  
 AND SED_LEGAJO = 10  
 AND NOV_PROCESAR = 1   
 UNION  




 SELECT HD.SED_CODIGO, HD.FAC_CODIGO, HD.CAR_CODIGO, HD.PES_CODIGO, HD.MAT_CODIGO,  
 NULL AS FECHA, CONVERT(VARCHAR(8),HORA_DESDE,108) AS HORA_DESDE, CONVERT(VARCHAR(8),HORA_HASTA,108) AS HORA_HASTA, TARJETA, NULL AS COD_MESA, NULL AS LLAMADO, PERIODICIDAD,  
 NULL AS COD_TURNO, ID_HORARIO, 2 AS ORIGEN, CARGO, FECHA_1ER_EVENTO, CONTROL_HORARIO, 'Dictado de Cátedra' AS ITEM, NULL AS FECHA_REEMPLAZO, '' AS OBSERVACIONES,  
 TARJETA_ANTERIOR, 1 AS NOV_FALTAS, NULL AS COD_NOVEDAD, PES_VIEJO, NULL AS TIPO_NOVEDAD, HD.HORAS_MENSUALES,  
 PES_DESCRIPCION, MAT_DESCRIPCION, COMISION, CARGO_DESCRIPCION  
 FROM dbo.HORARIOS_CLASES_FX('28/08/2020') HD LEFT OUTER JOIN dbo.CATEDRAS_COMPARTIDAS_FECHA(10, '28/08/2020') CP ON  
 HD.SED_CODIGO = CP.SED_CODIGO AND  
 HD.FAC_CODIGO = CP.FAC_CODIGO AND  
 HD.CAR_CODIGO = CP.CAR_CODIGO AND  
 HD.PES_CODIGO = CP.PES_CODIGO AND  
 HD.MAT_CODIGO = CP.MAT_CODIGO   

    WHERE DIA = DATEPART(dw,'28/08/2020')  
    AND FECHA_INICIO <= '28/08/2020'   
 AND (FECHA_FIN >= '28/08/2020' OR FECHA_FIN IS NULL)  
 AND FINICIO_HORARIO <= '28/08/2020'   
 AND (FFIN_HORARIO >= '28/08/2020' OR FFIN_HORARIO IS NULL)  
 AND HD.SED_CODIGO = 10 AND dbo.MOSTRAR_REGISTRO(HD.SED_CODIGO, LEG_CODIGO, SED_LEGAJO, ID_HORARIO, CARGO, '28/08/2020') = 1  
 AND LEG_CODIGO  = 3423  
 AND SED_LEGAJO = 10  
 AND  ( ( CP.SED_CODIGO IS NULL  
   AND CP.FAC_CODIGO IS NULL  
   AND CP.CAR_CODIGO IS NULL  
   AND CP.PES_CODIGO IS NULL  
   AND CP.MAT_CODIGO IS NULL)    
            OR HD.[CATEGORIA] IN (10,11,12) )   
  
  
  
  SP_HELPTEXT HORARIOS_CLASES_FX

    
  
  
  
  
  
  
-- =============================================  
-- Author:  Christian A. Vila   
-- Create date: 03/06/2019  
-- Description: Horarios de Clases Docentes  
-- =============================================  
CREATE FUNCTION [dbo].[HORARIOS_CLASES_FX]   
(   
 @FECHA DATETIME  
)  
RETURNS TABLE   
AS  
RETURN   
(  


 SELECT     dbo.DESIGNACIONES.SED_CODIGO, dbo.DESIGNACIONES.FAC_CODIGO, dbo.DESIGNACIONES.CAR_CODIGO, dbo.DESIGNACIONES.PES_CODIGO,   
        dbo.DESIGNACIONES.MAT_CODIGO, dbo.DESIGNACIONES.COMISION, dbo.DESIGNACIONES.AÑO, dbo.DESIGNACIONES.CUATRIMESTRE, dbo.LEGAJOS.LEG_CODIGO,   
        dbo.LEGAJOS.SEDE AS SED_LEGAJO, dbo.DESIGNACIONES.PARTE, dbo.DESIGNACIONES.FECHA_INICIO,   
        CASE WHEN dbo.DESIGNACIONES.FECHA_RESOL_BAJA IS NULL   
        THEN dbo.DESIGNACIONES.FECHA_FIN ELSE dbo.DESIGNACIONES.FECHA_RESOL_BAJA END AS FECHA_FIN, dbo.DESIGNACIONES.CATEGORIA,   
        dbo.HORARIO_CATEDRAS.PERIODICIDAD, dbo.HORARIO_CATEDRAS.DIA, dbo.HORARIO_CATEDRAS.HORA_DESDE, dbo.HORARIO_CATEDRAS.HORA_HASTA,   
        dbo.HORARIO_CATEDRAS.FECHA_INICIO AS FINICIO_HORARIO, dbo.HORARIO_CATEDRAS.FECHA_FIN AS FFIN_HORARIO, dbo.LEGAJOS.APELLIDO,   
        dbo.LEGAJOS.NOMBRE, dbo.LEGAJOS.TDC_TIPO, dbo.LEGAJOS.NUMERO_DOC, dbo.TARJETA_PERSONAL_NUEVA(dbo.LEGAJOS.LEG_CODIGO, dbo.LEGAJOS.SEDE, @FECHA) AS TARJETA, dbo.RELACION_LABORAL.CARGO,   
        dbo.HORARIO_CATEDRAS.id AS ID_HORARIO, dbo.HORARIO_CATEDRAS.FECHA_1ER_EVENTO, dbo.RELACION_LABORAL.CONTROL_HORARIO,   
        dbo.TARJETA_PERSONAL_ANTERIOR_NUEVA(dbo.LEGAJOS.LEG_CODIGO, dbo.LEGAJOS.SEDE, @FECHA) AS TARJETA_ANTERIOR, dbo.PLAN_ESTUDIO.PES_VIEJO,  
        0 AS HORAS_MENSUALES, dbo.PLAN_ESTUDIO.PES_DESCRIPCION, dbo.MATERIA.MAT_DESCRIPCION, EXPEDIENTESUCP.dbo.CARGO.CARGO_DESCRIPCION  


 FROM         dbo.DESIGNACIONES INNER JOIN  

 SELECT * FROM DESIGNACIONES
 WHERE SED_CODIGO = 10 AND AÑO = 2020
 AND PES_CODIGO = 66
 AND MAT_CODIGO = 153

 SELECT * FROM HORARIO_CATEDRAS
 WHERE SED_CODIGO = 10
 AND PES_CODIGO = 66
 AND MAT_CODIGO = 153
 AND COMISION = 'F'
 AND AÑO = 2020




        dbo.HORARIO_CATEDRAS ON dbo.DESIGNACIONES.SED_CODIGO = dbo.HORARIO_CATEDRAS.SED_CODIGO AND   
        dbo.DESIGNACIONES.FAC_CODIGO = dbo.HORARIO_CATEDRAS.FAC_CODIGO AND dbo.DESIGNACIONES.CAR_CODIGO = dbo.HORARIO_CATEDRAS.CAR_CODIGO AND   
        dbo.DESIGNACIONES.PES_CODIGO = dbo.HORARIO_CATEDRAS.PES_CODIGO AND dbo.DESIGNACIONES.MAT_CODIGO = dbo.HORARIO_CATEDRAS.MAT_CODIGO AND  
         dbo.DESIGNACIONES.COMISION = dbo.HORARIO_CATEDRAS.COMISION AND dbo.DESIGNACIONES.AÑO = dbo.HORARIO_CATEDRAS.AÑO AND   
        dbo.DESIGNACIONES.CUATRIMESTRE = dbo.HORARIO_CATEDRAS.CUATRIMESTRE AND dbo.DESIGNACIONES.PARTE = dbo.HORARIO_CATEDRAS.PARTE INNER JOIN  
        dbo.LEGAJOS ON dbo.DESIGNACIONES.SEDE = dbo.LEGAJOS.SEDE AND dbo.DESIGNACIONES.DOC_CODIGO = dbo.LEGAJOS.LEG_CODIGO INNER JOIN  
        dbo.RELACION_LABORAL ON dbo.LEGAJOS.LEG_CODIGO = dbo.RELACION_LABORAL.LEG_CODIGO AND dbo.LEGAJOS.SEDE = dbo.RELACION_LABORAL.SEDE AND   
        dbo.DESIGNACIONES.SED_CODIGO = dbo.RELACION_LABORAL.SED_CODIGO AND   
        dbo.DESIGNACIONES.FECHA_INICIO >= dbo.RELACION_LABORAL.FECHA_INICIO AND (dbo.DESIGNACIONES.FECHA_INICIO < dbo.RELACION_LABORAL.FECHA_FIN OR  
        dbo.RELACION_LABORAL.FECHA_FIN IS NULL) INNER JOIN  
        dbo.PLAN_ESTUDIO ON dbo.DESIGNACIONES.PES_CODIGO = dbo.PLAN_ESTUDIO.PES_CODIGO AND   
        dbo.DESIGNACIONES.FAC_CODIGO = dbo.PLAN_ESTUDIO.PES_CAR_FAC_CODIGO AND   
        dbo.DESIGNACIONES.CAR_CODIGO = dbo.PLAN_ESTUDIO.PES_CAR_CODIGO LEFT OUTER JOIN  
        dbo.VW_CATEDRAS_COMPARTIDAS ON dbo.HORARIO_CATEDRAS.SED_CODIGO = dbo.VW_CATEDRAS_COMPARTIDAS.SED_CODIGO AND   
        dbo.HORARIO_CATEDRAS.FAC_CODIGO = dbo.VW_CATEDRAS_COMPARTIDAS.FAC_CODIGO AND   
        dbo.HORARIO_CATEDRAS.CAR_CODIGO = dbo.VW_CATEDRAS_COMPARTIDAS.CAR_CODIGO AND   
        dbo.HORARIO_CATEDRAS.PES_CODIGO = dbo.VW_CATEDRAS_COMPARTIDAS.PES_CODIGO AND   
        dbo.HORARIO_CATEDRAS.MAT_CODIGO = dbo.VW_CATEDRAS_COMPARTIDAS.MAT_CODIGO AND   
        dbo.HORARIO_CATEDRAS.AÑO = dbo.VW_CATEDRAS_COMPARTIDAS.AÑO AND   
        dbo.HORARIO_CATEDRAS.CUATRIMESTRE = dbo.VW_CATEDRAS_COMPARTIDAS.CUATRIMESTRE AND  
        @FECHA BETWEEN dbo.VW_CATEDRAS_COMPARTIDAS.FECHA_INICIO AND dbo.VW_CATEDRAS_COMPARTIDAS.FECHA_FIN INNER JOIN  
        dbo.MATERIA ON dbo.DESIGNACIONES.MAT_CODIGO = dbo.MATERIA.MAT_CODIGO INNER JOIN  
        EXPEDIENTESUCP.dbo.CARGO ON dbo.RELACION_LABORAL.CARGO = EXPEDIENTESUCP.dbo.CARGO.COD_CARGO  
 WHERE (@FECHA BETWEEN dbo.DESIGNACIONES.FECHA_INICIO AND dbo.DESIGNACIONES.FECHA_FIN)  
 GROUP BY dbo.DESIGNACIONES.SED_CODIGO, dbo.DESIGNACIONES.FAC_CODIGO, dbo.DESIGNACIONES.CAR_CODIGO, dbo.DESIGNACIONES.PES_CODIGO,   
        dbo.DESIGNACIONES.MAT_CODIGO, dbo.DESIGNACIONES.COMISION, dbo.DESIGNACIONES.AÑO, dbo.DESIGNACIONES.CUATRIMESTRE, dbo.LEGAJOS.LEG_CODIGO,   
        dbo.LEGAJOS.SEDE, dbo.DESIGNACIONES.PARTE, dbo.DESIGNACIONES.FECHA_INICIO, CASE WHEN dbo.DESIGNACIONES.FECHA_RESOL_BAJA IS NULL   
        THEN dbo.DESIGNACIONES.FECHA_FIN ELSE dbo.DESIGNACIONES.FECHA_RESOL_BAJA END, dbo.DESIGNACIONES.CATEGORIA, dbo.HORARIO_CATEDRAS.DIA,   
        dbo.HORARIO_CATEDRAS.HORA_DESDE, dbo.HORARIO_CATEDRAS.HORA_HASTA, dbo.HORARIO_CATEDRAS.FECHA_INICIO, dbo.HORARIO_CATEDRAS.FECHA_FIN,   
        dbo.LEGAJOS.APELLIDO, dbo.LEGAJOS.NOMBRE, dbo.LEGAJOS.TDC_TIPO, dbo.LEGAJOS.NUMERO_DOC, dbo.TARJETA_PERSONAL_NUEVA(dbo.LEGAJOS.LEG_CODIGO, dbo.LEGAJOS.SEDE, @FECHA), dbo.RELACION_LABORAL.CARGO,   
        dbo.HORARIO_CATEDRAS.id, dbo.HORARIO_CATEDRAS.FECHA_1ER_EVENTO, dbo.RELACION_LABORAL.CONTROL_HORARIO, dbo.TARJETA_PERSONAL_ANTERIOR_NUEVA(dbo.LEGAJOS.LEG_CODIGO, dbo.LEGAJOS.SEDE, @FECHA),   
        dbo.HORARIO_CATEDRAS.PERIODICIDAD, dbo.PLAN_ESTUDIO.PES_VIEJO, dbo.VW_CATEDRAS_COMPARTIDAS.SED_CODIGO,   
        dbo.VW_CATEDRAS_COMPARTIDAS.FAC_CODIGO, dbo.VW_CATEDRAS_COMPARTIDAS.CAR_CODIGO, dbo.VW_CATEDRAS_COMPARTIDAS.PES_CODIGO,   
        dbo.VW_CATEDRAS_COMPARTIDAS.MAT_CODIGO, dbo.VW_CATEDRAS_COMPARTIDAS.AÑO, dbo.VW_CATEDRAS_COMPARTIDAS.CUATRIMESTRE,  
        dbo.PLAN_ESTUDIO.PES_DESCRIPCION, dbo.MATERIA.MAT_DESCRIPCION, EXPEDIENTESUCP.dbo.CARGO.CARGO_DESCRIPCION  
 HAVING      (dbo.HORARIO_CATEDRAS.FECHA_FIN >= dbo.HORARIO_CATEDRAS.FECHA_INICIO) AND (dbo.RELACION_LABORAL.CARGO = 97) AND   
        (CASE WHEN dbo.DESIGNACIONES.FECHA_RESOL_BAJA IS NULL   
        THEN dbo.DESIGNACIONES.FECHA_FIN ELSE dbo.DESIGNACIONES.FECHA_RESOL_BAJA END >= dbo.DESIGNACIONES.FECHA_INICIO)   
        AND( (   
             (dbo.VW_CATEDRAS_COMPARTIDAS.SED_CODIGO IS NULL) AND (dbo.VW_CATEDRAS_COMPARTIDAS.FAC_CODIGO IS NULL) AND   
         (dbo.VW_CATEDRAS_COMPARTIDAS.CAR_CODIGO IS NULL) AND (dbo.VW_CATEDRAS_COMPARTIDAS.PES_CODIGO IS NULL) AND   
         (dbo.VW_CATEDRAS_COMPARTIDAS.MAT_CODIGO IS NULL) AND (dbo.VW_CATEDRAS_COMPARTIDAS.AÑO IS NULL)   AND   
         (dbo.VW_CATEDRAS_COMPARTIDAS.CUATRIMESTRE IS NULL)   
         )  
         OR  DESIGNACIONES.[CATEGORIA] IN (10,11,12)  
        ) AND (@FECHA BETWEEN dbo.HORARIO_CATEDRAS.FECHA_INICIO AND dbo.HORARIO_CATEDRAS.FECHA_FIN)  
         
)  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  